.vscode
*.log
__pycache__
*/__pycache__
*/*/__pycache__
*/*/*/__pycache__
*/*/*/*/__pycache__
pretrained_models
saved_models
data
log
exp
*.sbatch

*.bin
wandb/
RAT_SQL.egg-info
logdir/
data/
third_party/
wandb/
tf_runs/
pretrained_models/
exp/
data/
